.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.popup .popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fafafa;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  display: flex;
  gap: 30px;
  transition: 0.5s all;
}
.popup .popup__container.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.popup .popup__container .popup__container__img .popup-img {
  width: 500px;
}
.popup .popup__container .popup__container__text {
  font-family: Georgia, sans-serif;
  color: black;
  text-align: start;
  letter-spacing: 0.06em;
  width: 350px;
  margin-top: 50px;
}
.popup .popup__container .popup__container__text .close__popup {
  font-size: 25px;
}
.popup .popup__container .popup__container__text .popup__container__text__name {
  font-size: 35px;
  line-height: 45.5px;
  margin-bottom: 0px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__type-breed {
  font-size: 20px;
  line-height: 23px;
  color: black;
  margin-top: 10px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__description {
  font-size: 15px;
  line-height: 16.5px;
  margin-top: 40px;
}
.popup .popup__container .popup__container__text .popup__container__text__ul {
  margin-top: 38px;
  padding-left: 14px;
  line-height: 28px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li {
  color: #fddcc4;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li
  .popup__span-bold {
  font-weight: bold;
  color: black;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li
  .char {
  color: black;
}
